body {
  margin: 0;
  font-family: "HelveticaNeueLTStd-ThEx", 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  background-size: 10px 10px;    
  background-image:
      linear-gradient(to right, grey 0.05px, transparent 0.3px),
      linear-gradient(to bottom, grey 0.05px, transparent 0.3px);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeueLTStd-BdEx", 'Helvetica Neue', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
